{% extends "layout.html" %}
{% block topscripts %}
<title>PACE - About</title>
<style>
p,h2,h3{
    text-align:center;
}
img{
    width:25em;
    height:auto;
}
</style>
{%endblock%}
{% block content %}
<p>
<img src="/static/img/paceLogo.svg"/></p>
<h2>About</h2>
<p>
PACE is a web-enabled framework that summarizes performance data collected from <a href="https://e3sm.org"><i>Energy Exascale Earth System Model</i> <b>(E3SM)</b></a> experiments to derive insights and presents them through a portal. 
<br>
PACE serves as a central hub of E3SM performance data and facilitates tracking performance benchmarks and simulation campaigns of interest. 
<br> 
It enables interactive exploration including deep-dive into performance of different parallel processes and threads. 
<br>
PACE is designed to help identify bottlenecks and targets for performance engineering and optimization as well as drive research on load balancing and process layouts.

</p>
<h2> Architecture </h2>
<p>
<a href="/static/img/pace_arch.svg"><img src="/static/img/pace_arch.svg"/></a><br>
    Performance data from simulations executed on supported supercomputers is automatically uploaded to PACE. 
<br>
    PACE processes and ingests that information into the backend database. Finally, an user can interactively explore the performance data through the web portal. 
</p>
<br>

<h3> Development Team </h3>
<p>
<br>
<a href="https://sarats.com">Sarat Sreepathi</a> , Oak Ridge National Laboratory, sarat@ornl.gov.
<br>
In collaboration with:
<br>
Youngsung Kim, Oak Ridge National Laboratory.
<br>
<b>Past Students</b>: 
<br>
Zachary Mitchell, Pellissippi State Community College.
<br>
Gaurab KC, University of Tennessee, Knoxville.
<br>

<h3> Acknowledgments </h3>
This research was supported as part of the E3SM project, funded by the U.S. Department of Energy, Office of Science, Office of Biological and Environmental Research.
The students' work was partially supported by an appointment to the Science Education and Workforce Development Programs at Oak Ridge National Laboratory, administered by ORISE through the U.S. Department of Energy Oak Ridge Institute for Science and Education.
This research used resources of the Compute and Data Environment for Science (CADES) at the Oak Ridge National Laboratory, which is supported by the Office of Science of the U.S. Department of Energy under Contract No. DE-AC05-00OR22725.

<br>
Thanks to Aaron Donahue and Peter Caldwell for sharing their process layout and atmosphere sub-component timing scripts.

{% endblock %}
