{% extends "layout.html" %}
{% block topscripts %}
<title>PACE - About</title>
<style>
p,h2{
    text-align:center;
}
img{
    width:25em;
    height:auto;
}
</style>
{%endblock%}
{% block content %}
<p>
<img src="/static/img/paceLogo.svg"/></p>
<h2>About</h2>
<p>The <a href="https://e3sm.org"><i>Energy Exascale Earth System Model</i> <b>(E3SM)</b></a> is a earth system model that utilizes advanced supercomputers to address problems of national interest.<br> <b>PACE</b> was designed to visualize E3SM's performance data with ease.</p>
<h2>How It Works</h2>
<p>
    <img src="/static/img/workflow.png"/><br>
    Our server first receives the experiment through a client-side program. We use this to retreive basic information about the experiment, which is then moved to PACE'S database. When stored, it can be queried by date,user,machine, etc.
</p>
<p>
    <img src="/static/img/domConnection.svg"/><br>
    We also read the process tree, which was generated while the experiment ran. This is processed into a readble format suitable for display this data over our website (or any other potential applications). This data can be used for comparing other experiments on this website.
</p>

{% endblock %}
