{#  Author: Zachary Mitchell
    Purpose:Create a new chart for atmosphere experiments that rounds each bar to 100% (Through chartJS!)#}
{% extends "layout.html" %}
{% block topscripts %}
<link rel="stylesheet" type="text/css" href="/static/css/mtGeneral.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://y-takey.github.io/chartjs-plugin-stacked100/plugin.js"></script>
<script src="/static/js/colorTools.js"></script>
<script src="/static/js/mtGeneralTools.js"></script>
{% endblock %}
{% block content %}
<p style="text-align:center">
<span style="float:left">Color Theme: &nbsp; <select class="form-control" style="width:unset;display:inline-block" id="themeSelect" onchange="colorAtmos(this.selectedIndex);resultChart.update()"></select></span>
<span id="metaInfoContainer" style="width:500px;"><span></span></span>
</p>
<canvas id="chartTag"></canvas>
<script>
expidList = "{{expids}}".split(",");

var labels=['Convect','CLUBB','Aerosol','Micro','Rad','Phys Aft Sfc','Dyn','Phys/Dyn Coupling','Hist','Other'];
var resultChart = new Chart(chartTag,{
    type:"bar",
    options: {
        plugins:{stacked100: { enable: true }},
        scales: {
                yAxes:[{
                    scaleLabel:{
                        display:true,
                        fontSize:18,
                        labelString:"%ATM Runtime"
                    }}],
                xAxes:[{
                    scaleLabel:{
                        display:true,
                        fontSize:18,
                        labelString:"Experiment"
                    }}]
        }
    }
});

var tableList = [];
var metaInfoObjs = [];

//Get the themes for chartJs
colorThemes = undefined;
$.get("/static/chartJsThemes.json",data=>{
    colorThemes = data
    //Setup the select tag:
    colorThemes.forEach( (e,index)=>themeSelect.innerHTML+="<option "+(index == 1?"selected":"")+" value='"+index+"'>"+e.name+"</option>");
});

//When this strikes 0, everything gets rendered:
dataCountdown = 0;
expidList.forEach(expid=>{
    dataCountdown++;
    $.get("/summaryQuery/"+expid+"/stats/getFullStats",data=>{
        resultData = JSON.parse(data);
        tableList.push(new addressTable(resultData.obj[0],true,undefined,0) );
        resultChart.data.labels.push(resultData.meta.expid);
        metaInfoObjs.push({name:resultData.meta.expid,res:resultData.meta.res,compset:resultData.meta.compset});
        dataCountdown--;
        if(dataCountdown === 0){
            renderData();
            metaOpenClose(true,metaInfoObjs);
        }
    });
});

var addressList = ["a:moist_convection","a:macrop_tend",["a:microp_aero_run","a:bc_aerosols"],"a:microp_tend","a:radiation","a:phys_run2","a:stepon_run3",["a:stepon_run1","a:stepon_run2"],"a:wshist"]
//Array.map lets you create a new array based on the properties of another array.
var colorPercentages = arrayToPercentages(addressList.map((e,index)=>index+1),true);

function colorAtmos(themeIndex = themeSelect.selectedIndex){
    var selectedTheme = hex2RgbArray(colorThemes[themeIndex].values);
    for(let i=0;i<resultChart.data.datasets.length;i++){
        resultChart.data.datasets[i].backgroundColor = [];
        resultChart.data.datasets[i].borderColor = [];
        for(let j=0;j<resultChart.data.datasets[i].data.length;j++){
            let colorData = percentToColor(colorPercentages[i],false,2,selectedTheme,false);
            resultChart.data.datasets[i].backgroundColor.push(colorData[0]);
            resultChart.data.datasets[i].borderColor.push(percentToColor(50,false,0,[selectedTheme,colorData[1]],true ) );
        }
    }

}

//Append all values for one stats file to a single place on the chart.
function renderData(){
tableList.forEach((e,index)=>{
    addressList.forEach( (address,addrIndex)=>{
    let number = 0;
    //console.log(e);
    if(typeof(address) == "string"){
        //console.log(e[address]);
        number = e[address].values.wallmax;
        //console.log(number);
    }
    else if(typeof(address) == "object")
        address.forEach(str=>number+=e[str].values.wallmax);
    if(!resultChart.data.datasets[addrIndex])
        resultChart.data.datasets[addrIndex] = {label:labels[addrIndex],data:[],backgroundColor:[],borderColor:[]};

    resultChart.data.datasets[addrIndex].data.push(number);
    });
});
colorAtmos();
resultChart.update();
}
</script>
{% endblock %}
