{% extends "layout.html" %}
{% block topscripts %}
<link rel="stylesheet" type="text/css" href="/static/css/mtGeneral.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link href="https://unpkg.com/tabulator-tables@5.0.7/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.0.7/dist/js/tabulator.min.js"></script>
{% endblock %}
{% block content %}

<p>
    <div style="overflow:hidden; border: 4px solid black; margin-bottom:75px">
        <h3 style="text-align:center">ATM Process Distribution - Stacked graph</h3>
        <br>
        <details open>
            <summary style="text-align:center; cursor: pointer;"><u>Collapse</u></summary>
            <div id="compTable"></div>
            <span style="color:crimson" id="note"></span>
        </details>
        <br>
        <br>
        <div id="stacktimes" style="border:1px solid black; border-radius: 25px"></div>
    </div>
    <br>
</p>

<p>
    <div style="overflow:hidden; border: 4px solid black; margin-bottom:75px">
        <h3 style="text-align:center">ATM Process Distribution - Alternate graph</h3>
        <br>
        <canvas id="columnChartTag"></canvas>
    </div>
</p>

<!-- new scripts -->
<script>

var easyTableList = {{rd|tojson}}
var graphData = []
var other_time = 0;
var atmCompSum = 0;
var expid = String({{expids}})
graphData.push(easyTableList["a:moist_convection"]["values"]["wallmax"]);
graphData.push(easyTableList["a:macrop_tend"]["values"]["wallmax"] + easyTableList["a:tphysbc_aerosols"]["values"]["wallmax"]);
graphData.push(easyTableList["a:microp_aero_run"]["values"]["wallmax"]);
graphData.push(easyTableList["a:microp_tend"]["values"]["wallmax"]);
graphData.push(easyTableList["a:radiation"]["values"]["wallmax"]);
graphData.push(easyTableList["a:phys_run2"]["values"]["wallmax"]);
graphData.push(easyTableList["a:stepon_run3"]["values"]["wallmax"]);
graphData.push(easyTableList["a:stepon_run1"]["values"]["wallmax"] + easyTableList["a:stepon_run2"]["values"]["wallmax"]);
graphData.push(easyTableList["a:wshist"]["values"]["wallmax"]);

for ( let i = 0; i < graphData.length; i++) {
    atmCompSum += Number(graphData[i]);
}
var totalTime = easyTableList["CPL:ATM_RUN"]["values"]["wallmax"]
other_time = totalTime - atmCompSum
if(other_time<0){
    note = "* Note: CPL:ATM_RUN is less than the cummulative atm timers. ATM other = " + String(other_time.toFixed(2)) + "s"
    document.getElementById("note").innerHTML = note;
}
other_time = Math.max(totalTime - atmCompSum,0);

var percentGraph = []

for (let i = 0; i< graphData.length; i++){
    percentGraph.push(((graphData[i]/totalTime)*100).toFixed(2));
}
percentGraph.push(((other_time/totalTime)*100).toFixed(2));

//load google charts to create bar charts
google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(atmStackedTime);

var colorShade = ['#264653','#287271','#2A9D8F','#5AA786','#8AB17D','#E9C46A','#EFB366','#F4A261','#EE8959','#E76F51']
var colorJet = ["#000080", "#0000ff", "#0060ff", "#00d4ff", "#4dffaa", "#aaff4d", "#ffe600", "#ff7a00", "#ff1300", "#800000"]
var colorSeq = ["#882E72","#1965B0","#7BAFDE","#4EB265","#CAE0AB","#F7F056","#F4A736","#E8601C","#DC050C","#72190E"]
function atmStackedTime() {
    
    var data = google.visualization.arrayToDataTable([
        ['Exp ID', 'Convection','CLUBB','Aerosol','Microphys','Radiation','Phys Aft Surface','Dynamics','Phys/Dyn Coupling','Hist','ATM Other'],
        [

            expid,
            Number(percentGraph[0]),
            Number(percentGraph[1]),
            Number(percentGraph[2]),
            Number(percentGraph[3]),
            Number(percentGraph[4]),
            Number(percentGraph[5]),
            Number(percentGraph[6]),
            Number(percentGraph[7]),
            Number(percentGraph[8]),
            Number(percentGraph[9])
        ]
    ]);

    var materialOptions = {    
        isStacked: 'percent',
        
        legend:{
            position: 'top',
            positionalignment: 'center',
            maxLines:3
        },
        hAxis: {
            minValue: 0,
        },
        vAxis: {
            title: 'Experiment ID',
            textPosition: 'out'
        },
        colors: colorSeq,
        bars: 'horizontal'
    };
    //var materialChart = new google.charts.Bar(document.getElementById('stacktimes'));
    var materialChart = new google.visualization.BarChart(document.getElementById('stacktimes'));
    materialChart.draw(data, materialOptions);
}

var xLabelString = "Experiment ID - "+expid
var labels=['Convection','CLUBB','Aerosol','Microphys','Radiation','Phys Aft Surface','Dynamics','Phys/Dyn Coupling','Hist','ATM Other'];
var columnChart = new Chart(columnChartTag,{
    type:"bar",
    options: {
        scales: {
                yAxes:[{
                    scaleLabel:{
                        display:true,
                        fontSize:18,
                        labelString:"% Atm Runtime"
                    }}],
                xAxes:[{
                    scaleLabel:{
                        display:true,
                        fontSize:18,
                        labelString:xLabelString
                    }}]
        }
    }
});
for ( let i = 0; i < percentGraph.length; i++) {
        // set chart label first to create javascript array element
        if(!columnChart.data.datasets[i])
            columnChart.data.datasets[i] = {label:labels[i],data:[],backgroundColor:[],borderColor:[]};
        // then set the value
        columnChart.data.datasets[i].data.push(percentGraph[i]);
        columnChart.data.datasets[i].backgroundColor.push(colorSeq[i]);
     }
columnChart.update();

var fieldDic = {
    "color":"Color",
    "timer":"Timer",
    "run_time":"Run Time(s)",
    "percentage":"Percentage"
};

var newCompRunTime = [];
for(i=0;i<labels.length;i++){
    if(i==9){
        newCompRunTime.push({
            "color":colorSeq[i],
            "timer":labels[i],
            "run_time":other_time,
            "percentage":percentGraph[i]
        })
    }else{
        newCompRunTime.push({
            "color":colorSeq[i],
            "timer":labels[i],
            "run_time":graphData[i],
            "percentage":percentGraph[i]
        })
    }
}


var atmCompTable = new Tabulator("#compTable", {
    data:newCompRunTime,
    layout:"fitDataStretch",
    initialSort:[
        {column:"run_time", dir:"desc"},
    ],
    columns:[
    {title:fieldDic["color"], field:"color", hozAlign:"right", formatter:"color", width:75},
    {title:fieldDic["timer"], field:"timer", hozAlign:"right"},
    {title:fieldDic["run_time"], field:"run_time", hozAlign:"right",sorter:"number",formatter:"money", formatterParams:{precision:3}},
    {title:fieldDic["percentage"], field:"percentage", hozAlign:"right",formatter:"money", formatterParams:{precision:2}},
    ],
});

</script>
{% endblock %}
