{% extends "layout.html" %}
{% block content %}
{% block topcontent %}

<link href="https://unpkg.com/tabulator-tables@5.0.7/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.0.7/dist/js/tabulator.min.js"></script>
<style>
.runtimeTable th, .runtimeTable td{
    border:1px solid;
}
.runtimeTable{
    background-color:#F0F0F0;
    font-family:monospace;
    color:#444;
}

.inBlock{
    display:inline-block;
}
#runtimeImg{
    width:auto;
    max-width:7in;
    height:auto;
    /*margin-top:-25%*/
}
#newimage{
    width:auto;
    max-width:7in;
    height:auto;
    /*margin-top:-25%*/
}
.tabulator{
  background-color:#fff;
}
.wrap {
width: 100%;
overflow:scroll;
}

.fleft {
    float:left;
    width:39%;
}

.fright {
    float: right;
    width:59%;
}
</style>
{% endblock topcontent %}

<h3 style="text-align:center">Experiment Details</h3>

<table style="margin-left:11%">
    <tbody>
        <tr>
        <td class="inBlock">
            <!--Pre's take *everything literally, so everyting inside this pre is unformatted...-->
            <pre style="padding:10px;width:auto;background-color:#EEE;border-radius:5px"><code id="expsummary">
Id: {{exp.expid}}
User: {{exp.user}} 
JobID: {{exp.lid}}
Machine: {{exp.machine}} 
Compset: {{exp.compset}} 
Case: {{exp.case}}
Res: {{exp.res}} 
Version: {{exp.version}}
Date: {{exp.exp_date}}

Run_time: {{ exp.run_time }} sec
Init time: {{ exp.init_time }} sec
Final_time: {{ exp.final_time }} sec
Total PEs: {{exp.total_pes_active}}
Model cost: {{exp.model_cost}} pe-hrs/sim_year

Run length: {{exp.run_length}} days
Stop_n: {{exp.stop_n}}
Stop Option: {{ exp.stop_option}}
MPI tasks/node: {{exp.mpi_tasks_per_node}}

<br>
<b>Model Throughput</b>: {{exp.model_throughput}} SYPD
<br>

<b>Graphs:</b>
<a href="/summary/{{expid}}/stats">Summary Global statistics</a>
<br>
Tree graph : {% for rank in ranks -%}<a href="/summary/{{expid}}/{{rank.rank}}">Rank {{rank.rank}}</a> &nbsp;
            {%- endfor %}
Flame graph : {% for rank in ranks -%}<a href="/flamegraph/{{expid}}/{{rank.rank}}">Rank {{rank.rank}}</a> &nbsp;
            {%- endfor %}
<a href="/atmos/{{exp.expid}}">Atm process distribution</a>
<br>
<b>Scorpio IO Stats:</b>
<a href="/scorpioIO/{{expid}}">Scorpio I/O statistics</a>
<br>
<br>
Additional Notes:
</code>
<textarea style="resize:both" id="note" name="note" class="form-control" readonly>{{note}}</textarea><p style="text-align:center;margin-top:5px"><a href="/note/{{exp.expid}}"><input type="button" style = "text-align:center" value="Add/Edit" class="btn btn-outline-secondary"/><br></p>
<!--Static file loc on web server-->
<!--<a href="/static/data/exp-{{exp.user}}-{{exp.expid}}.zip">Download Raw Data</a>-->
<!--From file server-->
<a href="https://pacefs.ornl.gov/e3sm/exp-{{exp.user}}-{{exp.expid}}.zip">Download Raw Data</a>
           </pre>
        </td>

        <td class="inBlock">
            <img id="runtimeImg"/>
        </td>
        <td class="inBlock">
            <table class="runtimeTable">
                <thead>
                    <tr>
                    <th>Color</th><th>Component</th><th>Run time(s)</th><th>Throughput(SYPD)</th>
                    </tr>
                </thead>
                <tbody>
                {%for element in runtime%}
                <tr>
                    <td class='colorElement'></td><td class='elementName'>{{element.component}}</td><td>{{element.seconds}}</td><td>{{element.model_years}}</td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </td>
        </tr>

        <tr>
        <td class="inBlock">
            <b>Model Input files</b>
            <br>
            XML Inputs: 
            <br>
            {%for name in xmls%}
            <a href="/xmlviewer/{{exp.expid}}/{{name[0]}}">{{name[0]}}</a><br>
            {%endfor%}

            Namelist Inputs:
            <br>
            {%for name in nmls%}
            <a href="/nmlviewer/{{exp.expid}}/{{name[0]}}">{{name[0]}}</a><br>
            {%endfor%}

            RC Inputs:
            <br>
            {%for name in rcs%}
            <a href="/rcviewer/{{exp.expid}}/{{name[0]}}">{{name[0]}}</a><br>
            {%endfor%}
            <br>
        </td>
    </tr>
    </tbody>
</table>

<!-- new design exp-details-->

<p>
    <div style="overflow:scroll ; border:4px solid black">
        <h1 style="text-align: center">Experiment Details</h1>
        <br>
        <br>
        <div class="wrap">
            <div class="fleft" id="compTable"></div>
            <div class="fright">
                <img id="newimage"/>
            </div>
        </div>
        <h3 style="text-align: center; margin-top:50px">Model Input Files</h3>
        <table style="width:100%; border: 1px solid black">
            <tr>
                <th style="border: 1px solid black">XML Inputs:</th>
                <th style="border: 1px solid black">Namelist Inputs:</th>
                <th style="border: 1px solid black">RC Inputs:</th>
            </tr>
            <tr>
                <td style="border: 1px solid black">
                    {%for name in xmls%}
                    <a href="/xmlviewer/{{exp.expid}}/{{name[0]}}">{{name[0]}}</a><br>
                    {%endfor%}
                </td>
                <td style="border: 1px solid black">
                    {%for name in nmls%}
                    <a href="/nmlviewer/{{exp.expid}}/{{name[0]}}">{{name[0]}}</a><br>
                    {%endfor%}
                </td>
                <td style="border: 1px solid black">
                    {%for name in rcs%}
                    <a href="/rcviewer/{{exp.expid}}/{{name[0]}}">{{name[0]}}</a><br>
                    {%endfor%}
                </td>
            </tr>
        </table>
    </div>
</p>
<script>
var imgLink = detectRootUrl()+"svg/runtime/{{expid}}";
runtimeImg.src=imgLink;
newimage.src = imgLink;

//Format the expsummary!
{
    let lines = expsummary.innerHTML.split("\n");
    expsummary.innerHTML="";
    lines.forEach(element=>{
        elSplit = element.split(":");
        expsummary.innerHTML+="<span style='color:crimson'>"+elSplit[0]+""+(elSplit[1]?":</span><b>"+elSplit[1]+"</b>\n":"</span>");
    });
}

var chartColors = JSON.parse(`{{chartColors|safe}}`);
var colorLegend = document.getElementsByClassName("colorElement");
var elNames = document.getElementsByClassName("elementName");
for(var i = 0;i<colorLegend.length;i++){
    if(chartColors[elNames[i].innerHTML])
        colorLegend[i].style.backgroundColor = chartColors[elNames[i].innerHTML];
}

var compRunTime = {{testrun|tojson}}
var compcolor = {
    "ATM": "#66ccff",
    "CPL": "#ff9900",
    "GLC": "#FF99CC",
    "ICE": "#00FFFF",
    "LND": "#00ff40",
    "OCN": "#0000FF80",
    "ROF": "#FF0000",
    "WAV": "#0000B0"
}
var fieldDic = {
    "color":"Color",
    "comp":"Component",
    "run_time":"Run Time(s)",
    "throughput":"Throughput(SYPD)"
};

var newCompRunTime = [];
var color = "";
for(i = 0; i<compRunTime.length;i++){
    if(compRunTime[i]["component"] in compcolor){
        color = compcolor[compRunTime[i]["component"]];
    }else{
        color = "#ffffff";
    }
    
    newCompRunTime.push({
        "color":color,
        "comp":compRunTime[i]["component"],
        "run_time":compRunTime[i]["seconds"],
        "throughput":compRunTime[i]["model_years"]
    });
}

var comptable = new Tabulator("#compTable", {
    data:newCompRunTime,
    layout:"fitDataStretch",
    initialSort:[
        {column:"run_time", dir:"desc"},
    ],
    columns:[
    {title:fieldDic["color"], field:"color", hozAlign:"right", formatter:"color", width:75},
    {title:fieldDic["comp"], field:"comp", hozAlign:"right"},
    {title:fieldDic["run_time"], field:"run_time", hozAlign:"right",sorter:"number",formatter:"money", formatterParams:{precision:3}},
    {title:fieldDic["throughput"], field:"throughput", hozAlign:"right",formatter:"money", formatterParams:{precision:2}},
    ],
});
</script>

{% endblock %}
