{% extends "layout.html" %}
{% block content %}
{% block topcontent %}

<style>
.runtimeTable th, .runtimeTable td{
    border:1px solid;
}
.runtimeTable{
    background-color:#F0F0F0;
    font-family:monospace;
    color:#444;
}

.inBlock{
    display:inline-block;
}
#runtimeImg{
    width:auto;
    max-width:7in;
    height:auto;
    /*margin-top:-25%*/
}
</style>
{% endblock topcontent %}

<h3 style="text-align:center">Experiment Details</h3>

<table style="margin-left:11%">
    <tbody>
        <tr>
        <td class="inBlock">
            <!--Pre's take *everything literally, so everyting inside this pre is unformatted...-->
            <pre style="width:auto;background-color:#EEE;border-radius:5px"><code id="expsummary">
Id: {{exp.expid}}
User: {{exp.user}} 
Machine: {{exp.machine}} 
Compset: {{exp.compset}} 
Case: {{exp.case}}
Res: {{exp.res}} 
Version: {{exp.version}}

Run_time: {{ exp.run_time }} sec
Init time: {{ exp.init_time }} sec
Final_time: {{ exp.final_time }} sec
Total PEs: {{exp.total_pes_active}}
Model cost: {{exp.model_cost}} pe-hrs/sim_year

Run length: {{exp.run_length}} days
Stop_n: {{exp.stop_n}}
Stop Option: {{ exp.stop_option}}
MPI tasks/node: {{exp.mpi_tasks_per_node}}

<br>
<b>Model Throughput</b>: {{exp.model_throughput}} SYPD
<br>

<b>Graphs:</b>
<a href="/summary/{{expid}}/stats">Summary Global statistics</a>
<br>
Tree graph : {% for rank in ranks -%}<a href="/summary/{{expid}}/{{rank.rank}}">Rank {{rank.rank}}</a> &nbsp;
            {%- endfor %}
Flame graph : {% for rank in ranks -%}<a href="/flamegraph/{{expid}}/{{rank.rank}}">Rank {{rank.rank}}</a> &nbsp;
            {%- endfor %}
<a href="/atmos/{{exp.expid}}">Atm process distribution</a> 
<br>
<br>
Additional Notes:
</code>
<textarea style="resize:both" id="note" name="note" class="form-control" readonly>{{note}}</textarea><p style="text-align:center;margin-top:5px"><a href="/note/{{exp.expid}}"><input type="button" style = "text-align:center" value="Add/Edit" class="btn btn-outline-secondary"/><br></p><a href="/static/data/exp-{{exp.user}}-{{exp.expid}}.zip">Download Raw Data</a>
           </pre>
        </td>
        <td class="inBlock">
            <img id="runtimeImg"/>
        </td>
        <td class="inBlock">
            <table class="runtimeTable">
                <thead>
                    <tr>
                    <th>Color</th><th>Component</th><th>Run time(s)</th><th>Throughput(SYPD)</th>
                    </tr>
                </thead>
                <tbody>
                {%for element in runtime%}
                <tr>
                    <td class='colorElement'></td><td class='elementName'>{{element.component}}</td><td>{{element.seconds}}</td><td>{{element.model_years}}</td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </td>
        </tr>
    </tbody>
</table>

<script>
var imgLink = detectRootUrl()+"svg/runtime/{{expid}}";
runtimeImg.src=imgLink;

//Format the expsummary!
{
    let lines = expsummary.innerHTML.split("\n");
    expsummary.innerHTML="";
    lines.forEach(element=>{
        elSplit = element.split(":");
        expsummary.innerHTML+="<span style='color:crimson'>"+elSplit[0]+""+(elSplit[1]?":</span><b>"+elSplit[1]+"</b>\n":"</span>");
    });
}

var chartColors = JSON.parse(`{{chartColors|safe}}`);
var colorLegend = document.getElementsByClassName("colorElement");
var elNames = document.getElementsByClassName("elementName");
for(var i = 0;i<colorLegend.length;i++){
    if(chartColors[elNames[i].innerHTML])
        colorLegend[i].style.backgroundColor = chartColors[elNames[i].innerHTML];
}
</script>

{% endblock %}
