{% extends "layout.html" %}
{% block content %}
{% block topcontent %}
<!--<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>-->
<script>hljs.initHighlightingOnLoad();</script>

<style>
th,td,thead{
    border:1px solid
}
.runtimeTable{
    display:inline-block;
    background-color:#F0F0F0;
    font-family:monospace;
    color:#444;
    margin-right:5px;
    margin-top:50px
}
</style>
{% endblock topcontent %}

<h3> Experiment Details</h3>
<!--<pre><code class="json" id="expdata">{{myjson|safe}}</code></pre>-->
<pre><code id="expsummmary">
Id: {{ exp.expid}}
User: {{exp.user}} 
Machine: {{exp.machine}} 
Compset: {{exp.compset}} 
Case: {{exp.case}}
Res: {{exp.res}} 
Runtime: {{ runtime[0].seconds }} seconds
Throughput: {{exp.model_throughput}} SYPD
Total PEs: {{exp.total_pes_active}}
Run length: {{exp.run_length}} 
MPI tasks/node: {{exp.mpi_tasks_per_node}}
Summary Charts: {% for rank in ranks -%}<a href="/summary/{{expid}}/{{rank.rank}}">{{rank.rank}}</a> &nbsp;
{%- endfor %}

<a href="/static/data/experiment-{{exp.lid}}.zip">Download Raw Data</a>
</code></pre>
<div style="text-align:center">
<table class="runtimeTable">
    <thead>
        <tr>
        <th>Component</th><th>Run time(s)</th>
        </tr>
    </thead>
    <tbody>
    {%for element in runtime%}
    <tr>
        <td>{{element.component}}</td><td>{{element.seconds}}</td>
    </tr>
    {%endfor%}
    </tbody>
</table>
<img id="runtimeImg" style="width:50%;height:50%;display:inline-block;margin-top:-190px"/>
</div>

<script>
var imgLink = detectRootUrl()+"svg/runtime/{{expid}}";
runtimeImg.src=imgLink;
//expsummmary.innerHTML+="<a href='"+imgLink+"'>Link to Runtime Chart</a>"
</script>

{% endblock %}
