{% extends "layout.html" %}
{% block topscripts %}
	<title> PACE - Applications </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/js/jquery.tablesorter.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/js/jquery.tablesorter.widgets.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/js/extras/jquery.tablesorter.pager.min.js"></script>
    <style>
    </style>
{% endblock %}

{% block content %}
<h4> Experiments </h4>
<p><a><button id='searchCompareBtn' disabled>compare</button></a><a><button id='searchViewBtn' disabled>View</button></a></p>
<table id="expTable" class="table table-striped">
<thead>
    <tr>
        <th>ID</th><th>User</th><th>Machine</th><th>Total PEs</th><th>Run Length</th><th>Throughput</th><th>MPI Tasks/Node</th><th>Compset</th><th>Summaries</th>
    </tr>
</thead>
<tbody id="searchBody"></tbody>
</table>
{% endblock %}

{% block bottomscripts %}
<script src="/static/js/search.js"></script>
<script>
$(document).ready(function(){
{{sq|safe}}
searchObj.search(searchQuery,20);
/*$("#expTable").tablesorter({
	widthFixed: false
	});*/
});
</script>
{% endblock %}