{% extends "layout.html" %}
{% block topscripts %}
	<title> PACE - Applications </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/js/jquery.tablesorter.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/js/jquery.tablesorter.widgets.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/js/extras/jquery.tablesorter.pager.min.js"></script>
    <style>
    </style>
{% endblock %}

{% block content %}
<h4> Experiments </h4>
<div class="btn-group">
	<a><button class="btn btn-primary btn-dark" id='searchCompareBtn' disabled>compare</button></a>
	<a><button class="btn btn-primary btn-dark" id='searchViewBtn' disabled>View</button></a>
</div>
<table id="expTable" class="table table-striped">
<thead>
    <tr>
        <th>ID</th><th>User</th><th>Machine</th><th>Total PEs</th><th>Run Length</th><th>Throughput</th><th>MPI Tasks/Node</th><th>Compset</th><th>Summaries</th>
    </tr>
</thead>
<tbody id="searchBody"></tbody>
</table>
<p style="text-align:center"><button class="btn btn-dark" id="moreBtn" onclick="searchAndCheck()">More Experiments</button></p>
{% endblock %}

{% block bottomscripts %}
<script src="/static/js/search.js"></script>
<script>
{{sq|safe}}

function searchAndCheck(sq = searchQuery){
	searchObj.search(sq,searchObj.limit,()=>{
	if(searchObj.searchData.length == searchObj.limit){
	 searchObj.limit*=2;
	}
	else moreBtn.style.display = "none";
	});
}

$(document).ready(function(){
searchAndCheck();
/*$("#expTable").tablesorter({
	widthFixed: false
	});*/
});
</script>
{% endblock %}