{% extends "layout.html" %}
{% block topscripts %}
	<title> PACE - Applications </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/js/jquery.tablesorter.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/js/jquery.tablesorter.widgets.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/js/extras/jquery.tablesorter.pager.min.js"></script>
	<!--<script src=""></script>-->
	<!--<script src=""></script>-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/css/jquery.tablesorter.pager.min.css" />
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/css/theme.bootstrap.min.css" />-->
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/css/theme.dark.min.css" />-->
	<link rel="stylesheet" href="/static/css/tablesorter-blue/style.css" />
	<!--<link rel="stylesheet" href="/static/css/tablesorter/style.css" />-->

	<!--<script src="/static/js/jquery.tablesorter.js"></script>-->
	<!--<script src="/static/js/jquery.tablesorter.widgets.js"></script>-->
	<!--<script src="/static/js/jquery.tablesorter.pager.js"></script>-->
	<!--<link rel="stylesheet" href="/static/css/tablesorter/style.css" />-->
	<!--<link rel="stylesheet" href="/static/css/jquery.tablesorter.pager.css"/>-->
		<!--<script src="/static/tablesorter/dist/js/jquery.tablesorter.min.js"></script>-->
		<!--<script src="/static/tablesorter/dist/js/jquery.tablesorter.widgets.min.js"></script>-->
		<!--<script src="/static/tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js"></script>-->
		<!--<link rel="stylesheet" href="/static/tablesorter/dist/css/jquery.tablesorter.pager.min.css" />-->
		<!-- Content -->

						<!--// ajaxUrl: "{{ request.script_root | safe }}/ajax/exps/{page}",-->
		<script type="text/javascript">
			$(document).ready(function() 
				{ 
					$.tablesorter.addParser({
						id: 'linkapplier',
						format: function(text, table, cell, colNum) {
							if (colNum == 0 ) {
								expid = text;
								cell.innerHTML = '<a href="'+detectRootUrl()+'exp-details/' + text + '">' + text +"</a>";
							}
							if (colNum == 8 ) {
								cell.innerHTML = '<a href="'+detectRootUrl()+'summary/' + expid + '/stats' + '">' + text +"</a>";
							}

						},
						parsed: false,
						type: 'text',
						is: function(s, table, cell) { 
						return true;
						}
					});
					$("#expTable").tablesorter({
					sortList: [0,0] ,
					widgets: ['zebra'], 
					theme: 'blue',
					widthFixed: true
					});
					$("#expTable").tablesorterPager({
						container: $(".pager"),
						size: 20,
						savePages: false,
						processAjaxOnInit: true,
						output: 'Experiments {startRow} to {endRow} (of {totalRows})',
						ajaxUrl: "/ajax/exps/{page}",
						ajaxProcessing: function(data) {
							if(data) {
								var numr = data.numRows,
								rows = [];
								for (var i = 0; i < data.data.length; i++) {
									var o = data.data[i];
									var row = [o.expid,o.user,o.machine,o.total_pes_active,o.run_length,o.model_throughput,o.mpi_tasks_per_node,o.compset,o.expid];
									rows.push(row);
								}
								return [numr, rows];
							}
						}
					});
				} 
			); 
		</script>

{% endblock %}
{% block content %}

				<h4> Experiments </h4>
				<hr>

				<table id="expTable" cellspacing="1" class="tablesorter" >
				<thead>
				<tr>
				    <th>ID</th>
				    <th>User</th>
				    <th>Machine</th>
				    <th>Total PEs</th>
				    <th>Run length</th>
				    <th>Throughput</th>
				    <th>MPI tasks/node</th>
				    <th>Compset</th>
				    <th>Chart</th>
				</tr>
				</thead>
				<tbody>

				{% for exp in explist %}
				<tr>
					<td>{{exp.expid}}</td>
					<td>{{exp.user}} </td>
					<td>{{exp.machine}} </td>
					<td>{{exp.total_pes_active}} </td>
					<td>{{exp.run_length}} </td>
					<td>{{exp.model_throughput|truncate(4,false,'')}}</td>
					<td>{{exp.mpi_tasks_per_node}}</td>
					<td>{{exp.compset|truncate(50)}} </td>
					<td>Chart</td>
				</tr>
				{% endfor %}

				</tbody>
				</table>


<div id="pager" class="pager">
  <a class="prev">Previous page</a>
  <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
  <a class="next">Next page</a>
  <!--<form>-->
    <!--<img src="first.png" class="first"/>-->
  <!--  <img src="prev.png" class="prev"/>-->
    <!-- the "pagedisplay" can be any element, including an input -->
  <!--  <span class="pagedisplay" data-pager-output-filtered="{startRow:input} &ndash; {endRow} / {filteredRows} of {totalRows} total rows"></span>-->
  <!--  <img src="next.png" class="next"/>-->
    <!--<img src="last.png" class="last"/>-->
  <!--  <select class="pagesize">-->
  <!--    <option value="10">10</option>-->
      <!--<option value="20">20</option>-->
      <!--<option value="30">30</option>-->
      <!--<option value="40">40</option>-->
      <!--<option value="all">All Rows</option>-->
  <!--  </select>-->
  </form>
</div>
{% endblock %}

{% block bottomscripts %}
<!--Overwrite default bottom scripts which mess up the layout-->
{% endblock %}
