<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <base href="https://pace.ornl.gov/dev3/" target="_self"> -->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="/static/css/pace.css" />
  
  <!--Search bar CSS-->
  <link rel="stylesheet" type="text/css" href="/static/css/searchBar.css" />

  <script src="/static/js/detectRootUrl.js"></script>
  <script>var onMtPage = false;</script>
  {% block topscripts %}
  {% endblock %}
  <title> {% block title %} Performance Analytics for Climate Experiments (PACE) {% endblock %} </title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/"><img src="/static/img/paceLogo.svg" style="width:6em;height:auto"></img></a>
  <!-- <a href="/" class="navbar-left"><img src="/static/img/paceLogo.svg" style="width:20%;height:20%"></a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{{ request.script_root }}/exps">Experiments</a>
      </li>
      <!-- <li class="nav-item"> -->
      <!-- <a class="nav-link" href="{{ request.script_root }}/exps2">Charts(alpha)</a> -->
      <!-- </li> -->
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="{{ request.script_root }}/platforms" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Platforms</a>
      <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item" href="{{ request.script_root }}/platforms/summit">Summit</a>
        <a class="dropdown-item" href="{{ request.script_root }}/platforms/titan">Titan</a>
        <a class="dropdown-item" href="{{ request.script_root }}/platforms/theta">Theta</a>
      </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="searchBar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchButton">Search</button>
    </form>
    </div>
  </nav>

  <main role="main" class="container">
    <div class="pace-main-content">
    <h2> Performance Analytics for Climate Experiments (PACE)</h2>
    <hr>
      {% block content %}
      {% endblock %}
    <hr>
    </div>

  </main><!-- /.container -->
    {% block bottomscripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <!--Search bar script:-->
  <script src="/static/js/searchBar.js"></script>
   <!-- Default Statcounter code for Pace.ornl.gov
    https://pace.ornl.gov -->
    <script type="text/javascript">
        var sc_project=11755034;
        var sc_invisible=1;
        var sc_security="e3d82dda";
    </script>
    <script type="text/javascript"
        src="https://www.statcounter.com/counter/counter.js"
        async></script>
    <noscript>
      <div class="statcounter">
        <a title="Web Analytics"
           href="http://statcounter.com/" target="_blank">
          <img class="statcounter"
             src="//c.statcounter.com/11755034/0/e3d82dda/1/" alt="Web
        Analytics">
        </a>
      </div>
    </noscript>
    <!-- End of Statcounter Code -->

  <footer class="footer">
    <div class="container">
    <span class="text-muted">
	  <p class="text-center">
        &copy; Copyright 2018 <a href="https://e3sm.org">E3SM Project</a> | All rights reserved. </a>
	  </p>
    </span>
    </div>
  </footer>
</body>
</html>
