<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Performance Analytics For Climate Experiments (PACE) is a project designed to visualize performance data created by the E3SM Project (Energy Exascale Earth System Model)"/>
  <!-- <base href="https://pace.ornl.gov/dev3/" target="_self"> -->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="/static/css/pace.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/predictiveText.css" />

  <script src="/static/js/detectRootUrl.js"></script>
  <script></script>
  {% block topscripts %}
  {% endblock %}
  <title> {% block title %} Performance Analytics for Climate Experiments (PACE) {% endblock %} </title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/"><img src="/static/img/paceLogo.svg" style="width:6em;height:auto"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Platforms</a>
      <div class="dropdown-menu" aria-labelledby="dropdown01" data-distinct-type="machine" data-url-Label="platforms"></div>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Users</a>
      <div class="dropdown-menu" aria-labelledby="dropdown02" data-distinct-type="user" data-url-Label="users"></div>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Benchmarks</a>
        <div class="dropdown-menu">
	        <a class="dropdown-item" href="https://pace.ornl.gov/benchmarks/FC5AV1C-H01A%20ne120_ne120">High-res Atmosphere</a>
	        <a class="dropdown-item" href="https://pace.ornl.gov/benchmarks/GMPAS-IAF%20T62_oRRS18to6v3">High-res Ocean</a>
        </div>
      </li>
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/upload-howto">How-to Upload</a>
            <a class="dropdown-item" href="/searchTutorial">Advanced searches</a>

            <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Demos</a>
            <div class="dropdown-menu">
	            <a class="dropdown-item" href="https://pace.ornl.gov/static/demo/pace-upload.mp4">Upload Data</a>
	            <a class="dropdown-item" href="https://pace.ornl.gov/static/demo/portal.mp4">Portal Features</a>
            </div>
          </div>
      </li>
      <a href="/about" class="nav-link">About</a>
    </ul>
    <form class="form-inline my-2 my-lg-0" style="display:none">
      <span><input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="searchBar"></span>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchButton">Search</button>
    </form>
    </div>
  </nav>

  <main role="main" class="container">
    <div class="pace-main-content">
	<br>
    <h2 style="text-align:center"> Performance Analytics for Climate Experiments (PACE)</h2>
	<br>
	<!-- <p style="border:1px solid darkgrey;border-radius:1px" /> -->
      {% block content %}
      {% endblock %}
    </div>

  </main><!-- /.container -->
    {% block bottomscripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
   <!-- Default Statcounter code for Pace.ornl.gov
    https://pace.ornl.gov -->
    <script type="text/javascript">
        var sc_project=11755034;
        var sc_invisible=1;
        var sc_security="e3d82dda";
    </script>
    <script type="text/javascript"
        src="https://www.statcounter.com/counter/counter.js"
        async></script>
    <noscript>
      <div class="statcounter">
        <a title="Web Analytics"
           href="http://statcounter.com/" target="_blank">
          <img class="statcounter"
             src="//c.statcounter.com/11755034/0/e3d82dda/1/" alt="Web
        Analytics">
        </a>
      </div>
    </noscript>
    <!-- End of Statcounter Code -->
    <!--Create a list of machines to display in the platforms dropdown:-->
    <script>
    //Get a list of categories for each dropdown menu:
    {
      let dropdownElements = $(".dropdown-menu");
      for(let i=0;i<dropdownElements.length;i++){
        if(dropdownElements[i].dataset.distinctType){
          $.get(detectRootUrl()+"ajax/getDistinct/"+dropdownElements[i].dataset.distinctType,data=>{
            let results = JSON.parse(data);
            results.forEach((element)=>{
              dropdownElements[i].innerHTML+='<a class="dropdown-item" href="'+detectRootUrl()+dropdownElements[i].dataset.urlLabel+'/'+element+'/">'+(dropdownElements[i].dataset.urlLabel == "users"?element:element[0].toUpperCase()+element.substring(1))+'</a>';
            });
          });
        }
      }
    }
        function searchEvt(evt){
      if(evt)
        evt.preventDefault();
      if(searchBar.value!="")
          location.assign(detectRootUrl()+"search/"+searchBar.value.replace(" ","+"));
    }
    searchBar.onkeydown = evt=>{
      if(evt.key == "Enter"){
        searchEvt(evt);
      }
    };
    searchButton.onclick = evt=>{
      searchEvt(evt);
    }

    //predictive search functionality:
    //This search bar has been depricated, but it's here if you need to enable it:
    /*searchPredict = new predictiveSearch.element(searchBar,"sb");
    searchBar.onkeydown = evt=>{
    if(evt.key == "Enter" && searchPredict.allowEnter) searchEvt(evt);;
      searchPredict.keydownListener(evt);
    };
    searchBar.onkeyup = evt=>{
      searchPredict.keyupListener(evt);
      if(searchBar.value!="")
          $.get(detectRootUrl()+"ajax/similarDistinct/"+searchPredict.inputWords[searchPredict.wordIndex],data=>searchPredict.refreshKeywords(JSON.parse(data)));
    }
    searchBar.onblur = ()=>setTimeout(()=>predictiveSearch.menuBlur("sb"),150);
    searchPredict.pTextMenu.style.zIndex = 1001;*/
    </script>
  <footer class="footer">
    <div class="container">
    <span class="text-muted">
	  <p class="text-center">
        &copy; Copyright 2018 <a href="https://e3sm.org">E3SM Project</a> | All rights reserved. </a>
	  </p>
    </span>
    </div>
  </footer>
</body>
</html>
