<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="static/css/pace.css" />
{% block topscripts %}
{% endblock %}

    <title> Performance Analytics for Climate Experiments (PACE)</title>
  </head>

  <body>
    <div class="container">
      <!-- Static navbar -->
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{{ request.script_root }}"><img height="32" src="/static/E3SM_Logo_scaled.png"> <img src="/static/paceLogo.svg" style="width:10em"/></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="{{ request.script_root }}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ request.script_root }}/exps">Experiments</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div> <!-- /container -->

	<!-- Main component for primary content -->
	<!-- <div class="jumbotron"> </div> -->

    <div class="container-fluid pace-main-content">
      <div class="row-fluid">
		{% block content %}
		{% endblock %}
      </div>
	<hr>
    </div> <!-- /container -->

    <div class="container">
	{% block bottomscripts %}
	{% endblock %}

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

		<!-- Default Statcounter code for Pace.ornl.gov
		https://pace.ornl.gov -->
		<script type="text/javascript">
		var sc_project=11755034; 
		var sc_invisible=1; 
		var sc_security="e3d82dda"; 
		</script>
		<script type="text/javascript"
		src="https://www.statcounter.com/counter/counter.js"
		async></script>
		<noscript><div class="statcounter"><a title="Web Analytics"
		href="http://statcounter.com/" target="_blank"><img
		class="statcounter"
		src="//c.statcounter.com/11755034/0/e3d82dda/1/" alt="Web
		Analytics"></a></div></noscript>
		<!-- End of Statcounter Code -->


	<div class="footer">
	<br>
	<p class="text-muted" style="text-align:center;">
	&copy; Copyright 2018 <a href="https://e3sm.org">E3SM Project</a> <br>
	Content : All rights reserved | <a href="http://www.ornl.gov/ornlhome/disclaimers.shtml">ORNL Disclaimer</a> 
	</p>
	<br>
	</div>
	</div> <!-- /container -->
  </body>
</html>
