{% extends "layout.html" %}

{% block topscripts %}
<title>PACE: Model Timing View</title>
<link rel="stylesheet" type="text/css" href="/static/css/modelTiming.css" />
<!--Search bar CSS-->
<link rel="stylesheet" type="text/css" href="/static/css/quickSearch.css" />
<script src="/static/js/predictiveSearch.js"></script>
{% endblock %}

{% block content %}
<!--Author: Zachary Mitchell
    Purpose: View your prevsiously parsed model_timing files in style!
    Summarize any scope of timeNodes with sum or averages, and with any value you want! (Wallclock, min/max, etc)-->
    <div id="mtMain">
        <!--This is the custom highlighter for the model timing graph-->
        <span id="nodeId"></span>
        <table id="mtOptions">
            <tbody>
            <tr>
            <td>
                <select id="expSelect" onchange="switchExperiment()"></select>
                <select id="threadSelect"></select>
                <select id="valueName" onclick="(comparisonMode.on?comparisonMode.viewChart(comparisonMode.exp.currentEntry.name):changeGraph(currExp.currentEntry) )"></select>
                <select id="mode" class="unused" onclick="(comparisonMode.on?comparisonMode.viewChart(comparisonMode.exp.currentEntry.name):changeGraph(currExp.currentEntry) )">
                    <option value="sum" selected>Sum</option>
                    <option value="avg">Average</option>
                </select>
            </td>
            <td>
                <button id="compareButton" onclick="compDivObj.toggle()">Compare</button>
            </td>
            <td>
                <button onclick='advContainer.style.display=advContainer.style.display == "none"?"inline-block":"none"'>Advanced</button>
                <div id="advContainer" style="display:none">
                    <div class="checkboxRow" style="display:inline-block">
                        <input type="checkbox" onclick="stackedCharts = this.checked;(comparisonMode.on?comparisonMode.viewChart(comparisonMode.exp.currentEntry.name):changeGraph(currExp.currentEntry) );" checked/>Stacked bars<br>
                        <input id="dmCheck" type="checkbox" onclick="dmObj.toggle(this.checked)"/>Dark Mode
                    </div>
                    <span id="quickSearchContainer">
                    <input type="text" id="quickSearchBar" placeholder="Quick Search" class="form-control"/>
                    </span>
                </div>
            </td>
            <td>
            </td>
            <td><span id="metaInfoContainer"><span id="metaInfoTxt" style="margin:20px"></span></span></td>
            </tr>
            </tbody>
        </table>
        <div id="zoomDiv"><button onclick="resizeChartVal=(resizeChartVal <=1?1:resizeChartVal-25);resizeChart(resizeChartVal)">-</button><button onclick="resizeChartVal+=25;resizeChart(resizeChartVal)">+</button></div>
        <div id="dataInfo"><div id="chartResizeContainer"><canvas id="chartTag"></canvas></div></div>
        <div id="dlDisplayButton" onclick="dlSlide()"></div>
        <div id="dataList">
            <button id="summaryButton">Summary</button>
            <div style= "margin-left: -6px;" id="listContent"></div>
        </div>
        <button id="backButton"><-Back</button>
    </div>
    <div id="compareSelectDiv">
    <h2>Select the threads you wish to compare.</h2><br>
    <p><button onclick='compDivObj.makeExp()'>Add</button></p>
    <div id="compDivBody"></div>
    <p style="text-align:center"><button id="compareGo" onclick="compDivObj.scan()">Go!</button></p>
    </div>
{% endblock %}

{% block bottomscripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="/static/js/quickSearch.js"></script>
	<script src="/static/js/domFunctions.js"></script>
	<script src="/static/js/modelTiming.js"></script>
	<script src="/static/js/paceLoadScreen.js"></script>
	<script>
    //Make all buttons bootstrap:
    $("button").addClass("btn btn-default");
    $("select").addClass("custom-select");
    {{exp|safe}}
    </script>
    <script src="/static/js/mtStart.js"></script>
{% endblock %}