{% extends "layout.html" %}
{% block topscripts %}
<link rel="stylesheet" type="text/css" href="/static/css/mtGeneral.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}
{% block content %}

<p>
    <div style="overflow:hidden; border: 4px solid black; margin-bottom:75px">
        <h3 style="text-align:center">{{model}} Process Distribution: Percentage of Total {{model}} Time.</h3>
        <details>
            <summary style="text-align:center; cursor: pointer;"><u>read more...</u></summary>
        </details>
        
        <canvas id="columnChartTagPercentage"></canvas>
    </div>

    <div style="overflow:hidden; border: 4px solid black; margin-bottom:75px">
        <h3 style="text-align:center">{{model}} Process Distribution in Seconds</h3>
        <details>
            <summary style="text-align:center; cursor: pointer;"><u>read more...</u></summary>
        </details>
        
        <canvas id="columnChartTag"></canvas>
    </div>
</p>

<script>
var jsonData = {{labelData|tojson}}
var expids = {{expids|tojson}}
var model = "{{model}}"

percentData = []
var colorSeq = ["#882E72","#1965B0","#7BAFDE","#4EB265","#CAE0AB","#F7F056","#F4A736","#E8601C","#DC050C","#72190E","#24343C","#A0C0C2","#BFACAA","#B497D6"]

var xLabelString = "Experiment ID"
var yLabelString = "% "+model+" Runtime"
var columnChartPercentage = new Chart(columnChartTagPercentage,{
    type:"bar",
    data:{
        labels:expids
    },
    options: {
        scales: {
                yAxes:[{
                    stacked:true,
                    scaleLabel:{
                        display:true,
                        fontSize:18,
                        labelString:yLabelString
                    }}],
                xAxes:[{
                    stacked:true,
                    scaleLabel:{
                        display:true,
                        fontSize:18,
                        labelString:xLabelString
                    }}]
        }
    }
});
var i = 0
for ( var key in jsonData) {
    // set chart label first to create javascript array element
    if(!columnChartPercentage.data.datasets[i])
        columnChartPercentage.data.datasets[i] = {label:key,data:jsonData[key]['time_percentage'],backgroundColor:colorSeq[i],borderColor:[]};
    i++    
}
    
columnChartPercentage.update();

var xLabelString = "Experiment ID"
var yLabelString = model+" Runtime"
var columnChart = new Chart(columnChartTag,{
    type:"bar",
    data:{
        labels:expids
    },
    options: {
        scales: {
                yAxes:[{
                    stacked:true,
                    scaleLabel:{
                        display:true,
                        fontSize:18,
                        labelString:yLabelString
                    }}],
                xAxes:[{
                    stacked:true,
                    scaleLabel:{
                        display:true,
                        fontSize:18,
                        labelString:xLabelString
                    }}]
        }
    }
});
var i = 0
for ( var key in jsonData) {
    // set chart label first to create javascript array element
    if(!columnChart.data.datasets[i])
        columnChart.data.datasets[i] = {label:key,data:jsonData[key]['time'],backgroundColor:colorSeq[i],borderColor:[]};
    i++    
}
    
columnChart.update();
</script>
{% endblock %}