{% extends "layout.html" %}
{% block content %}

{% block topcontent %}
{% endblock topcontent %}

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<div style="overflow:scroll; border:4px solid black;">
    <h3 style="text-align:center">Replay.sh</h3>
    <button id="downloadBtn" class="btn btn-primary" style="float: right;">Download</button>
    <pre><code id="scriptData" class="bash">
        <span style="white-space: pre-wrap;">{{scriptData}}</span>
    </code></pre>
</div>
<script>

function download(filename, text) {
    var element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    element.setAttribute('download', filename);

    element.style.display = 'none';
    document.body.appendChild(element);

    element.click();

    document.body.removeChild(element);
}

// Start file download.
document.getElementById("downloadBtn").addEventListener("click", function(){
    // Generate download of hello.txt file with some content
    var text = document.getElementById("scriptData").innerText;
    var filename = "replay.sh.txt";
    
    download(filename, text);
}, false);
</script>

{% endblock %}
