{# Author: Zachary Mitchell
   Purpose: Show a summary for a search query. #}
{% extends "layout.html" %}

{% block topscripts %}
<style>
    #summaryChartTag{
        background-image:url(/static/img/ornlLeaf.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
    @media screen and (min-width:1100px){
        #scatterContainer{
            max-width:75%;
            margin-top:5%;
        }
        #summaryChartTag{
            margin-left:13%;
        }
        #clearDataButton{
            margin-left:15%;
        }
        #scatterInputContainer{
            margin-right:-11.5%;
        }
    }
</style>
{% endblock %}

{% block content %}
<div id="scatterContainer">
    <button id="clearDataButton" class="btn btn-default" style="float:left">Clear</button>
    <div id="scatterInputContainer" style="display:inline-block;float:right;">
        <input id="scatterDataInput" class="form-control" placeholder="Add more data"/>
    </div>
    <canvas id="summaryChartTag"></canvas>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/js/predictiveSearch.js"></script>
<script src="/static/js/colorTools.js"></script>
<script src="/static/js/searchSummary.js"></script>
<script>
var noData = true;
//predictive search for input box:
scatterInputPredict = new predictiveSearch.element(scatterDataInput,"sip");
scatterDataInput.onkeydown = evt=>{
	if(evt.key == "Enter" && scatterInputPredict.allowEnter)
        initQuery(scatterDataInput.value);
	scatterInputPredict.keydownListener(evt);
};
scatterDataInput.onkeyup = evt=>{
    scatterInputPredict.keyupListener(evt);
	if(scatterDataInput.value!="" && scatterInputPredict.enabled)
	if(!/:/.test(scatterInputPredict.inputWords[scatterInputPredict.wordIndex]))
        $.get(detectRootUrl()+"ajax/similarDistinct/"+scatterInputPredict.inputWords[scatterInputPredict.wordIndex],data=>scatterInputPredict.refreshKeywords(JSON.parse(data)));
	else scatterInputPredict.pTextMenu.style.display="none";
}
scatterDataInput.onblur = ()=>setTimeout(()=>predictiveSearch.menuBlur("sip"),150);

clearDataButton.onclick = ()=>{
    summaryChart.resetData();
    summaryChart.chart.update();
    history.pushState('','',detectRootUrl()+'searchSummary/');
    queryHistory = [];
    noData=true
}

function checkArray(value,srcArray = queryHistory){
    for(let i=0;i<srcArray.length;i++){
        if (value == srcArray[i])
            return false;
    }
    return true;
}

//Lets check for duplicates; if we don't find anything, the query is ignored.
//If this check is somehow bypassed, there's also protection over the server B)
function initQuery(userInput,updateUrl=true){
    if(userInput!=""){
        queryList = [];
        userQuery = userInput.split("|");
        userQuery.forEach(element=>{
            if(checkArray(element) && checkArray(element,queryList))
                queryList.push(element);
        });
        if(queryList.length!=0){
            resultQuery = queryList.join("|");
            summaryChart.addData(resultQuery);
            if(updateUrl)
                history.pushState("","",window.location.href+(noData?"":"|")+resultQuery);
            noData = false;
            queryList.forEach(element=>{
                queryHistory.push(element);
            });
        }
    }
}

var searchQuery = "{{query|safe}}";
$(document).ready(()=>{
    summaryChart = new bChartObj("summaryChartTag");
    initQuery(searchQuery,false);
});
</script>
{% endblock %}