{# Author: Zachary Mitchell #}
{# Purpose: The main navigation for the PACE website! This template covers navigation for experiments sorted by user,machine, dev-defined benchmarks, and user-searches#}
{% extends "layout.html" %}
{% block topscripts %}
	<title> {%if homePage == false%}PACE - Experiments{%else%}PACE - Home{%endif%}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/js/jquery.tablesorter.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/js/jquery.tablesorter.widgets.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/js/extras/jquery.tablesorter.pager.min.js"></script>
    <style>
	#homeSearchDiv{
		font-size:1.5em;
		text-align:left;
		height:60px;
		width:40%;
		margin-left:5%;
		display:inline-block;
		margin-right:5px;
		margin-top:2px;
	}
	#catReference{
		text-align:left;
		display:none;
		border:1px solid lightgray;
		border-radius:10px;
		font-family:monospace;
		position:absolute;
		background-color:white;
		margin-left:-50px;
	}
    </style>
{% endblock %}

{% block content %}
{%if homePage%}
{# If this is the homepage, the paragraph starts here, otherwise, it starts elsewhere...#}
<p style="text-align:center" id="homePageContent">
	<span id="homeSearchDiv">
	<input id="searchLink" readonly class="form-control" style="border-radius:5px;font-family:monospace;width:75%;margin-left:13%" placeholder="Link to your search will appear here" value=""/>
	<input class="form-control" id="homeSearchBar" style="font-size:1em;height:60px;" placeholder="Keyword"/>
	</span>
	<button class="btn-lg btn-info" style="height:3em;margin-top:2px;" onclick="searchAndCheck(homeSearchBar.value,matchModeCheck.checked)">Search</button><br>
	<input type="checkbox" id="matchModeCheck" style="margin-top:10px;margin-right:4px"/>Category Search
	<span style="display:inline-block;margin-right:25px">
		<button id='catRefButton' class="btn btn-default" onclick='$("#catReference").slideToggle(250)' style='display:none'>Reference</button>
		<span id='catReference'></span>
	</span>
{%else%}
{# Paragraph starts here if it's just a regular search page #}
	<h4>Experiments : </h4>
<p style="text-align:center">
{%endif%}
		<select id="orderBySelect" onchange="searchObj.search((homeSearchBar.value!=''?homeSearchBar.value:'*'),searchObj.limit,undefined,matchModeCheck.checked,orderBySelect.children[orderBySelect.selectedIndex].value,ascCheck.checked)">
			<option value="exp_date" selected>Order by...</option>
		</select>
		<span style="margin-right:5px"></span><input type="checkbox" id="ascCheck" onclick="ascDescToggle()">Ascending
{# Paragraph for home/search page ends here (One tag for ending two possible paragraphs...) #}
</p>
<p style="text-align:right">
	<a><button class="btn btn-primary btn-dark" id='searchCompareBtn' disabled>Compare</button></a>
	<a><button class="btn btn-primary btn-dark" id='searchViewBtn' disabled>View</button></a>
</p>
<div style="overflow-x:scroll;width:100%">
<table id="expTable" class="table table-striped">
<thead>
    <tr></tr>
</thead>
<tbody id="searchBody"></tbody>
</table>
</div>
<p style="text-align:right;"><button class="btn btn-dark" id="moreBtn" onclick="searchAndCheck()">More Exps</button></p>
<br>
{% endblock %}

{% block bottomscripts %}
<script src="/static/js/search.js"></script>
<script>
{{sq|safe}}
var getDistinct = false;
{{getDistinctStr|safe}}
//getDistinct should only be flagged to true when in a search page (not the home page), so the template assumes accordingly...
function searchAndCheck(sq = searchQuery,matchMode = (getDistinct?true:false) ){
	searchObj.search(sq,searchObj.limit,()=>{
	if(searchObj.searchData.length == searchObj.limit){
	 searchObj.limit*=2;
	}
	else moreBtn.style.display = "none";
	},matchMode,orderBySelect.children[orderBySelect.selectedIndex].value,ascCheck.checked);
	searchLink.value = sq == "*"?"":detectRootUrl()+(matchMode?"advsearch/":"search/")+sq;
}

{%if homePage%}
matchModeCheck.onclick = function(){
	homeSearchBar.value="";
	homeSearchBar.placeholder = (this.checked?"user:name machine:platform colname:value ...":"Keyword");
	if(homeSearchBar.innerHTML.replace(" ","")!="")
		searchAndCheck(homeSearchBar.value,matchModeCheck.checked);
	catRefButton.style.display = (catRefButton.style.display == "none"?"":"none");
	catReference.style.display = "none";
}

//predictive search + home search functionality:
homeSearchPredict = new predictiveSearch.element(homeSearchBar,"hsb");
homeSearchBar.onkeydown = evt=>{
	if(evt.key == "Enter" && homeSearchPredict.allowEnter){
		searchObj.limit = 20;
		if(homeSearchBar.value!='') searchAndCheck(homeSearchBar.value,matchModeCheck.checked);
	}
	homeSearchPredict.keydownListener(evt);
};
homeSearchBar.onkeyup = evt=>{
  homeSearchPredict.keyupListener(evt);
  if(homeSearchBar.value!="")
      $.get(detectRootUrl()+"ajax/similarDistinct/"+homeSearchPredict.inputWords[homeSearchPredict.wordIndex],data=>homeSearchPredict.refreshKeywords(JSON.parse(data)));
}
homeSearchBar.onblur = ()=>setTimeout(()=>predictiveSearch.menuBlur("hsb"),150);

//Generate the refernece table:
searchObj.expVars.forEach( (element,index)=>{
	catReference.innerHTML+=(index > 0?"<br>":"")+"<b>"+element[0]+"</b> = "+(element[2]?element[2]:element[1]);
});
{%endif%}
//Generate the table head:
var tHead = expTable.getElementsByTagName("thead")[0].children[0];
searchObj.expVars.forEach(element=>{
	if(element[3] === undefined || element[3] === true)
		tHead.innerHTML+="<th>"+element[0]+(element[4]!=undefined?element[4]:"")+"</th>";
});
tHead.innerHTML+="<th>Summary Charts</th>";
delete tHead;

//Generate order by selection:
searchObj.expVars.forEach(element=>{
	orderBySelect.innerHTML+="<option value='"+element[1]+"'>"+element[0]+"</option>";
});

function ascDescToggle(){
	searchObj.search((homeSearchBar.value!=''?homeSearchBar.value:'*'),searchObj.limit,undefined,matchModeCheck.checked,orderBySelect.children[orderBySelect.selectedIndex].value,ascCheck.checked)
}

$(document).ready(function(){
searchAndCheck();
/*$("#expTable").tablesorter({
	widthFixed: false
	});*/
});
</script>
{% endblock %}
