{# Author: Zachary Mitchell
   Purpose: Show a summary for a search query. #}
{% extends "layout.html" %}

{% block topscripts %}
<style>
    #summaryChartTag{
        background-image:url(/static/img/ornlLeaf.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
</style>
{% endblock %}

{% block content %}
<button id="clearDataButton" style="float:left">Clear</button>
<div style="display:inline-block;float:right">
    <input id="scatterDataInput" placeholder="Add more data"/>
</div>
<canvas id="summaryChartTag"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/js/predictiveSearch.js"></script>
<script src="/static/js/colorTools.js"></script>
<script src="/static/js/searchSummary.js"></script>
<script>
var noData = true;
//predictive search for input box:
scatterInputPredict = new predictiveSearch.element(scatterDataInput,"sip");
scatterDataInput.onkeydown = evt=>{
	if(evt.key == "Enter" && scatterInputPredict.allowEnter && scatterDataInput.value!=''){
        summaryChart.addData(scatterDataInput.value);
        history.pushState("","",window.location.href+(noData?"":"|")+scatterDataInput.value);
        noData = false;
    }
	scatterInputPredict.keydownListener(evt);
};
scatterDataInput.onkeyup = evt=>{
  scatterInputPredict.keyupListener(evt);
  if(scatterDataInput.value!="" && scatterInputPredict.enabled)
      $.get(detectRootUrl()+"ajax/similarDistinct/"+scatterInputPredict.inputWords[scatterInputPredict.wordIndex],data=>scatterInputPredict.refreshKeywords(JSON.parse(data)));
}
scatterDataInput.onblur = ()=>setTimeout(()=>predictiveSearch.menuBlur("sip"),150);

clearDataButton.onclick = ()=>{
    summaryChart.resetData();
    summaryChart.chart.update();
    history.pushState('','',detectRootUrl()+'searchSummary/');
    noData=true
}

var searchQuery = "{{query|safe}}";
$(document).ready(()=>{
    summaryChart = new bChartObj("summaryChartTag");
    if(searchQuery!=""){
        noData = false;
        summaryChart.addData(searchQuery);
    }
});
</script>
{% endblock %}