{% extends "layout.html" %}
{% block topscripts %}
<style>
    .catList td span{
        font-size: 87.5%;
        color: #e83e8c;
    }
    td{
        padding:5px;
        border:2px solid gray;
        display:inline-block;
    }
</style>
{% endblock %}
{% block content %}
<h2>Advanced search</h2>
<p>In addition to normal searches, you can also perform advanced searches that assist in narrowing down results. To start, type in a category (name, machine, etc). Next, type <code><b>:</b></code> followed by the keyword you wish to search for. </p>
<code>user:sarat machine:summit</code>
<h3>List of available categories</h3>
<table>
    <tbody>
        <tr class="catList"></tr>
    </tbody>
</table>
<h2>Other Options</h2>
<ul>
    <li>In a typical search, the search engine looks for values similar to the keywords entered. Prepending <code><b>$</b></code> to a keyword indicates you're looking for an <i>exact match</i>, and only shows results with that exact value. This tends to be more effective on advanced searches.</li>
    <li>More than one search can be performed at a time in the search box. <i>Use the vertial line/pipe</i> (<code><b>|</b></code>) after each search to chain results together.<br>
    For instance, if you wish to search for experiments by user "sarat" and another search for user "worley", this can be a compounded search using the following syntax.<br>
    <code>user:sarat | user:worley</code>
    <br>
    These compound search queries are useful to setup experiment comparisons.
    </li>
</ul>

<script>
["user","machine","expid","lid","compset","res","case","exp_date","total_pes_active","run_length","model_throughput","mpi_tasks_per_node","init_time","run_time"].forEach(e=>document.getElementsByClassName("catList")[0].innerHTML+="<td><span>"+e+"</span></td>");
</script>
{% endblock %}

