{% extends "layout.html" %}
{% block topscripts %}
	<title> {%if homePageStr==""%}PACE - Experiments{%else%}PACE - Home{%endif%}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/js/jquery.tablesorter.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/js/jquery.tablesorter.widgets.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/js/extras/jquery.tablesorter.pager.min.js"></script>
    <style>
    </style>
{% endblock %}

{% block content %}
{%if homePageStr!=""%}
<p style="text-align:center" id="homePageContent"><input class="form-control" id="homeSearchBar" style="font-size:1.5em;text-align:center;width:50%;margin-left:5%;display:inline-block;margin-right:5px" placeholder="Search" onchange="searchObj.limit = 20;if(this.value!='') searchAndCheck(this.value,matchModeCheck.checked);"/>
<button class="btn btn-dark" style="height:3em" onclick="searchAndCheck(homeSearchBar.value,matchModeCheck.checked)">Search</button><br>
<input type="checkbox" id="matchModeCheck" style="margin-right:4px"/>Category Search</p>
{%else%}
<h4> Experiments </h4>
{%endif%}
<p style="text-align:right">
	<a><button class="btn btn-primary btn-dark" id='searchCompareBtn' disabled>compare</button></a>
	<a><button class="btn btn-primary btn-dark" id='searchViewBtn' disabled>View</button></a>
</p>
<!--style="border:1px solid lightgrey;border-radius:5px"-->
<table id="expTable" class="table table-striped">
<thead>
    <tr>
        <th>ID</th><th>User</th><th>Machine</th><th>Total PEs</th><th>Run Length</th><th>Throughput</th><th>MPI Tasks/Node</th><th>Date</th><th>Summary Data</th>
    </tr>
</thead>
<tbody id="searchBody"></tbody>
</table>
<p style="text-align:center"><button class="btn btn-dark" id="moreBtn" onclick="searchAndCheck()">More Experiments</button></p>
{% endblock %}

{% block bottomscripts %}
<script src="/static/js/search.js"></script>
<script>
var homePage = false;
{{sq|safe}}
{{homePageStr|safe}}

function searchAndCheck(sq = searchQuery,matchMode = false){
	searchObj.search(sq,searchObj.limit,()=>{
	if(searchObj.searchData.length == searchObj.limit){
	 searchObj.limit*=2;
	}
	else moreBtn.style.display = "none";
	},matchMode);
}

{%if homePageStr !=""%}
matchModeCheck.onclick = function(){
	homeSearchBar.placeholder = (this.checked?"user:username machine:target_machine etc:etc":"Search");
	if(homeSearchBar.innerHTML.replace(" ","")!="")
		searchAndCheck(homeSearchBar.value,matchModeCheck.checked);
}
searchBar.style.display = "none";
searchButton.style.display = "none";
{%endif%}

$(document).ready(function(){
searchAndCheck();
/*$("#expTable").tablesorter({
	widthFixed: false
	});*/
});
</script>
{% endblock %}