{% extends "layout.html" %}
{% block topscripts %}
  <link href="https://unpkg.com/tabulator-tables@4.1.4/dist/css/tabulator.min.css" rel="stylesheet">
{% endblock %}
{% block content %}


<div style="overflow:scroll; border:4px solid black;background-color: #EEE;">
   <h3 style="text-align:center"> Details</h3>
   <div id="data-table"></div>
</div>

{% endblock %}
{% block bottomscripts %}
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.1.4/dist/js/tabulator.min.js"></script>
<script>
var tableDataNested = {{myjson | safe}};

   //headerVisible:false,
   //resizableRows:true,
   //maxHeight:"100%",
var table = new Tabulator("#data-table", {
   height:"100%",
   layout:"fitColumns",
   data:tableDataNested,
   dataTree:true,
   dataTreeStartExpanded:true,
   columns:[
   {title:"Section", field:"name", headerFilter:"input" }, 
       {title:"Value", field:"value", formatter:"textarea"}
       ],
});
</script>
{% endblock %}
