{% extends "layout.html" %}
{% block topscripts %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.1.8/css/tabulator.min.css" integrity="sha512-Rgo3xsStibA2lFAL//AiWBd5oQqXp4JsFykPDOtNX8WMXSjq7GGd0NscBkzISgvdSfkSHYWDfnx+Bher+R4mBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block content %}


<div style="overflow:scroll; border:4px solid black;background-color: #EEE;">
   <h3 style="text-align:center"> Details</h3>
   <div id="data-table"></div>
</div>

{% endblock %}
{% block bottomscripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.1.8/js/tabulator.min.js" integrity="sha512-cIJZFYLfhNre7dM9FFu/HIOgOGTulRtbMxYgtoeCYQHvdSsa/nOqcGOQpzW4EYWFCd0IZsmxEoJFBYcQiqiI5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
var filterTree = function (data, filter) {
   if (data['_children'] && data['_children'].length > 0) {
      for (var i in data['_children']) {
         return data[filter.field] == filter.value || filterTree(data['_children'][i], filter);
      }
   }
   return data[filter.field] == filter.value;
};

var tableDataNested = {{myjson | safe}};
   //headerVisible:false,
   //resizableRows:true,
   //maxHeight:"100%",
var table = new Tabulator("#data-table", {
   height:"100%",
   layout:"fitColumns",
   data:tableDataNested,
   dataTree:true,
   dataTreeStartExpanded:true,
   columns:[
   {title:"Section", field:"name", headerFilter:"input" }, 
       {title:"Value", field:"value", formatter:"textarea"}
       ],
});

//table.setFilter(filterTree, {field:'name', type:'=', value:'value'});
</script>
{% endblock %}
