[PACE]
username = 
password = 
db = pace
host = localhost

[PACE]
username = 
password = 
db = pace
host = localhost

[MINIO]
minio_access_key = 
minio_secret_key = 
minio_url = 

[GITHUBAPP]
githubapp_client_id = 
githubapp_secret_key =

