#dataInfo{
    border:.01in solid;
    position: absolute;
    left:27%;
    width:75%;
    background-image:url(/static/img/ornlLeaf.svg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
}
#dataList{
    overflow: scroll;
    -webkit-overflow-scrolling:touch;
    width:18em;
    position: absolute;
    resize:horizontal;
    left:2em;
    background-color:white;
    z-index: 2;
}
#dataList ul{
    margin-left:-32px;
}
ul{
    list-style-type: none;
}
#backButton{
    position: absolute;
    left:27%;
    z-index: 0;
}
#zoomDiv{
    float:right;
    margin-top:-1.8em;
}
#zoomDiv button{
    height:1.7em;
    margin-right:5px;
    padding-top:0px;
    z-index: 2;
}

#mtMain{
    font-family: monospace;
    margin-bottom:70%
}
.unused{
    display: none;
}
#compareSelectDiv{
    width:60%;
    height:60%;
    position:absolute;
    top:20%;
    left:20%;
    box-shadow:0px 5px 5px gray;
    background-color:white;
    opacity:0;
    display:none;
    border-radius:10px;
    font-family:arial;
    text-align:center;
    overflow-y:scroll;
    z-index:3;
}
.compareDiv{
    width:10em;
    height:7em;
    display:inline-block;
    margin-right:1em;
    border:.1em solid gray;
    border-radius:10px;
}
#nodeId{
    font-family: monospace;
    position:absolute;
    background-color:lightgray;
    border-radius:5px;
}

#mtOptions tr td{
    display:inline-block;
}

#metaTable tr td{
    display:table-cell;
    border:5px solid transparent;
}

#metaInfoContainer{
    text-align:center;
    background-color:lightgray;
    border-radius:20px;
    display:none;
    position:absolute;
    z-index: 4;
}

#quickSearchContainer{
    text-align: left;
}

#dlDisplayButton{
    position:absolute;
    width: 2em;
    z-index:3;
    left:0;
    background-color:rgb(230,230,230)
}

#mtMain button,#mtMain .form-control,#mtMain .custom-select{
    font-size:1em;
}
#mtMain .custom-select{
    width:unset;
}

.container{
    max-width: inherit;
}

#colorSelectDiv{
    width:20%;
    height:20%;
    position:absolute;
    top:20%;
    left:80%;
    box-shadow:0px 5px 5px gray;
    background-color:white;
    opacity:0;
    display:none;
    border-radius:10px;
    font-family:arial;
    text-align:center;
    overflow-y:scroll;
}

#dlResizeBar{
    /* background-color:black; */
    width:2em;
    left:20em;
    position:absolute;
    cursor:ew-resize;
    z-index: 3;
}