.searchBody{
    overflow:scroll;
    resize: both;
    width:15.625em;
    height:18em;
}

.searchItem{
    border-bottom:.2em solid gray;
}

.searchMenu{
    border:1px solid gray;
    position:absolute;
    border-radius: 5px;
    background-color:white;
    z-index: 1;
}
#quickSearchContainer{
    display:inline-block;
}
